
/* .offcanvas.offcanvas-end{
  width: 200px; 
} */
.mt-4 {
  margin-top: 80px !important;
}

.navbar-toggler {
  border: none;
}

.my-button:hover {
  background-color: lightgrey;
}
.nav-link.active {
    text-decoration: underline;
}
@media (max-width: 576px) {
  #productCard {
      max-width: 15rem;
      
      
  }
  
}
.cart-count {
  color: rgb(0, 0, 0);                
  padding: 4px 8px;            
  font-size: 12px;             
  position: absolute;          
  top: 12px;                  
  right: -14px;               
  min-width: 20px;             
  text-align: center;         
  font-weight: bold;           
}
