.mt-4 {
  margin-top: 60px !important;
}

.my-button:hover {
  background-color: lightgrey;

}

.my-button {
  border: none;
}


@media (max-width: 576px) {
  #productCard {
    max-width: 15rem;


  }
}

@media (max-width: 576px) {
  .card {
    margin-top: 4px !important;
  }
}

.card-body {
  margin-top: 10px !important;

}

@media (max-width: 576px) {
  .card-body {
    margin-top: 0px !important;


  }
}
.cart-count {
  color: rgb(0, 0, 0);                
  padding: 4px 8px;            
  font-size: 12px;             
  position: absolute;          
  top: 12px;                  
  right: -14px;               
  min-width: 20px;             
  text-align: center;         
  font-weight: bold;           
}
